<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EmpMapper">
	<!-- 编写共用的SQL片段 -->
	<sql id="selectEmp">
		SELECT
		e.id,e.name,e.password,e.loves,e.email,e.salary,e.hireDate,
		d.did,d.dname,d.phone
		FROM t_emp e LEFT JOIN
		t_dept d ON e.dept_id = d.did
	</sql>

	<!-- 表示如何把结果集中的一行数据给封装起来 -->
	<resultMap type="Emp" id="empResultMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="password" column="password" />
		<result property="loves" column="loves" />
		<result property="email" column="email" />
		<result property="salary" column="salary" />
		<result property="hireDate" column="hireDate" />
		<!-- 如何封装Emp中的dept属性: -->
		<association property="dept" column="dept_id" javaType="cn.itsource.oa.domain.Dept">
			<id property="did" column="did" />
			<result property="dname" column="dname" />
			<result property="phone" column="phone" />
		</association>
	</resultMap>

	<select id="get" parameterType="long" resultMap="empResultMap">
		<include refid="selectEmp" />
		WHERE e.id = #{id}
	</select>

	<select id="getAll" parameterType="map" resultMap="empResultMap">
		<include refid="selectEmp" />
	</select>

	<insert id="save" parameterType="Emp" useGeneratedKeys="true" keyProperty="id">
		insert into t_emp
		(name,password,loves,email,salary,hireDate,dept_id)
		values
		(#{name},#{password},#{loves},#{email},#{salary},#{hireDate},#{dept.did})
	</insert>

	<update id="update" parameterType="Emp">
		update t_emp set
		name=#{name},password=#{password},loves=#{loves},email=#{email},salary=#{salary},hireDate=#{hireDate},dept_id=#{dept.did}
		where id = #{id}
	</update>

	<delete id="delete" parameterType="long">
		delete from t_emp where
		id =
		#{id}
	</delete>

</mapper>
